<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="garsonDB"
             connectionString="User=mbauser;Password=CzBruVpGHi;Database=C:\\Program Files (x86)\\2D Soft\\Garson BackOffice 6\\Database\\BACKOFFICE - Slatkoislano.FDB;DataSource=192.168.0.32;Port=3054;Dialect=3;Charset=UTF8"/>
    </connectionStrings>
</configuration>